<!DOCTYPE html>
<html> 
<head>
<title>Home</title>
<link rel="stylesheet" type="text/css" href="/static/index.css">
</head>
<body>
    <form class="cont1" action="/result" method="POST">
        <h1>Route Locator</h1>
        <label for="orig">Start:</label><br>
        <input type="text" id="orig" name="orig" placeholder="Please state where you will start"><br>
        <label for="dest">Destination:</label><br>
        <input type="text" id="dest" name="dest" placeholder="Please state where you are going"><br>
        <a href="/result">
        <button type="submit" class = "button"><span>Submit</span></button>
    </form>   
</body>
</html>